<div class="container">
  <div class=" mt-5 text-center our-forms justify-content-center ">
    <div class="d-flex justify-content-center">
      <%= link_to my_pets_pets_path,
      class: '' do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <h2>Add a pet</h2>
      <%= link_to pets_path,
      class: '' do %>
        <i class="fas fa-forward"></i>
      <% end %>
    </div>
    <h1>Who are they?</h1>
    <div class="">
      <%= simple_form_for(@pet) do |f| %>
        <div class="form-inputs mt-4">
          <div class="row">
            <div class="co col-md-4">
              <%= f.input :name,
                          label: false,
                          placeholder: "pet name" %>
            </div>
            <div class="co col-md-4">
              <%= f.input :pet_type,
                          as: :select,
                          collection: [['dog', 'dog'], ['cat', 'cat']],
                          label_method: :second,
                          value_method: :first,
                          label: false,
                          prompt: "pet type",
                          select: "pet type"%>
            </div>
            <div class="co col-md-4">
              <%= f.input :sex,
                          as: :select,
                          collection: [['female', 'female'], ['male', 'male']],
                          label_method: :second,
                          value_method: :first,
                          label: false,
                          prompt: "pet sex",
                          select: "pet sex" %>
            </div>
          </div>
          <div class="space-class"></div>
          <div class="row">
            <div class="co col-md-4">
              <%= f.input :breed,
                          as: :select,
                          collection: [],
                          label: false,
                          prompt: "pet breed",
                          select: "pet breed" %>
            </div>
            <div class="co col-md-4">
              <%= f.input :pedigree_number,
                          label: false,
                          placeholder: 'pedigree number' %>
            </div>
            <div class="co col-md-4">
              <%= f.date_field :birthday,
                          placeholder: 'birthday',
                          value: 'birthday',
                          max: Date.today %>
            </div>
          </div>
          <div class="space-class"></div>
          <div class="row">
            <div class="co col-md-4">
              <%= f.input :description,
                          label: false,
                          placeholder: 'add a fancy description about your pet'%>
            </div>


            <div id="drag-field" class="co col-md-4">
              <p class="text-muted align-center">drag and drop images here</p>
              <%= f.input :photo,
                      as: :file,
                          label: false %>
            </div>

            <div class="co col-md-4">
              <%= f.input :address,
                          label: false,
                          placeholder: 'add your address where'%>
            </div>
          </div>
          <%= f.submit class:"btn-ours mt-4" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
