<div id="change-switcher" class="">
  <div class="container">

    <%# current pets looking for  %>
    <h1 class="text-center mt-4 mb-3">Matches at Your Fingertips</h1>
    <h3 class="text-center mt-4 mb-3">Let's start to breed the perfect pet</h3>

    <div class=" text-center mt-4 mb-3">
      <select class="select2 search-bar" name="breeds[]" multiple="multiple">
        <option value="">Option1</option>
      </select>
    </div>

    <%# Website switcheroooo switch thing %>
    <div class="switcheroo offset-md-11 offset-sm-8">
      <h2>Dog / Cat</h2>
      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>


    <div class="row">
      <% @pets.reverse.each do |pet| %>
        <%= link_to pet_path(pet) do %>
        <div class="co-12 colsm-6 col-md-6 mb-3">
          <div class="card-trip">
            <%= cl_image_tag pet.photo.key %>
            <div class="card-trip-infos">
              <div>
                <h2><%= pet.name %></h2>
                <p><%= pet.breed %></p>
              </div>
              <h2 class="card-trip-pricing"><%= pet.sex %></h2>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
