<h1>All Pets</h1>

<% @pets.reverse.each do |pet| %>
  <%= link_to pet_path(pet) do %>
  <%= cl_image_tag pet.photo.key %>
  <h2><%= pet.name %></h2>
  <p><%= pet.breed %></p>
  <p><%= pet.sex %></p>
  <% end %>
<% end %>
