<div class="container p-5">
  <h2 class="text-center">Pet information</h2>
  
  <% if session[:last_page] == 'my_pets' %>
    <%= link_to "â¬…ï¸ Back",  my_pets_pets_path %>

    <% if policy(@pet).edit? %>
      <%= link_to "ðŸ“ Edit", edit_pet_path(@pet) %>
    <% end %>

    <% if policy(@pet).destroy? %>
      <%= link_to "ðŸ—‘ Delete", pet_path(@pet), method: :delete %>
    <% end %>

  <% else %>
    <%= link_to "â¬…ï¸ Back", pets_path %>
  <% end %>

  <div class="row class-bg-color">
    <div class="avatar-dog col-md-4 mt-5 mb-5">
      <%= cl_image_tag @pet.photo.key %>
    </div>
    <div class="col-md-8  mt-5 align-text-h1">
      <h1><%= @pet.name %></h1>
      <h2><%= @pet.breed %></h2>
           <p><%= @pet.pet_type == 'dog' ? 'ðŸ¶' : 'ðŸ±' %> </p>
    </div>
    <% if session[:last_page] == 'my_pets' %>
      <% if policy(@pet).edit? %>
        <%= link_to "ðŸ“ Edit", edit_pet_path(@pet) %>
      <% end %>
      <% if policy(@pet).destroy? %>
        <%= link_to "ðŸ—‘ Delete", pet_path(@pet), method: :delete %>
      <% end %>
    <% end %>
   </div>
  <div class="row">
  <div class="col-md-4 margin-list">
    <ul class="list-unstyled">
      <li class="pb-4">Sex: <%= @pet.sex %></li>
      <li class="pb-4">Birthday: <%= @pet.birthday %></li>
      <li class="pb-4">Pedigree Number: <%= @pet.pedigree_number %></li>
    </ul>
    </div>
    <div class="col-md-8">
    <div class="text-justify margin-description">
      <p>Description: <%= @pet.description %></p>
      <button class="btn-ours mt-4">Message Owner</button>
    </div>
    </div>
  </div>
</div>
<%# somehow add on_heat no show %>

<% if @pet.user != current_user %>
  <% if @chatroom.present?  %>
    <%= link_to "Message Owner", chatroom_path(@chatroom.id) %>
  <% else %>
    <%= link_to "Message Owner", pet_chatrooms_path(@pet), method: :post %>
  <% end %>
<% end %>
