<h1>Pet information</h1>

<%= link_to "â¬…ï¸ Back", pets_path %>
<%= link_to "ðŸ“ Edit", edit_pet_path(@pet) %>
<%= link_to "ðŸ—‘ Delete", pet_path(@pet), method: :delete %>

<p><%= @pet.pet_type == 'dog' ? 'ðŸ¶' : 'ðŸ±' %> </p>
<p>Name: <%= @pet.name %></p>
<p>Breed: <%= @pet.breed %></p>
<p>Sex: <%= @pet.sex %></p>
<p>Birthday: <%= @pet.birthday %></p>
<p>Pedigree Number: <%= @pet.pedigree_number %></p>
<p>Description: <%= @pet.description %></p>


<%# somehow add on_heat no show %>
