<div class="container p-5">
  <div class="our-forms m-2">
    <% if session[:last_page] == 'my_pets' %>
      <%= link_to "â¬…ï¸ Back",  my_pets_pets_path %>

      <% if policy(@pet).edit? %>
        <%= link_to "ðŸ“ Edit", edit_pet_path(@pet) %>
      <% end %>

      <% if policy(@pet).destroy? %>
        <%= link_to "ðŸ—‘ Delete", pet_path(@pet), method: :delete %>
      <% end %>

    <% else %>
      <%= link_to pets_path do %>
    <i class="fas fa-arrow-left mr-0 m-1"></i>
      <% end %>
    <% end %>
  </div>

  <div class="row class-bg-color">
    <div class="avatar-dog col-md-4 m-5">
      <%= cl_image_tag @pet.photo.key %>
    </div>
    <div class="col-md-6  mt-5 align-text-h1">
      <h1><%= @pet.name %></h1>
      <h2><%= @pet.breed %></h2>
      <div class="col margin-list">
        <ul class="list-unstyled">
          <li class="pb-4">Sex: <%= @pet.sex %></li>
          <li class="pb-4">Birthday: <%= @pet.birthday %></li>
          <li class="pb-4">Pedigree Number: <%= @pet.pedigree_number %></li>
        </ul>
      </div>
    </div>
    <div class="text-justify margin-description">
      <p>Description: <%= @pet.description %></p>
      <% if @pet.user != current_user %>
        <button class="btn-ours mt-4">
          <% if @chatroom.present?  %>
            <%= link_to "Message Owner", chatroom_path(@chatroom.id) %>
          <% else %>
            <%= link_to "Message Owner", pet_chatrooms_path(@pet), method: :post %>
          <% end %>
        </button>
        <% else %>
          <h4><strong>You are this pet's owner</strong></h4>
      <% end %>
    </div>
    <% if session[:last_page] == 'my_pets' %>
      <% if policy(@pet).edit? %>
        <%= link_to "ðŸ“ Edit", edit_pet_path(@pet) %>
      <% end %>
      <% if policy(@pet).destroy? %>
        <%= link_to "ðŸ—‘ Delete", pet_path(@pet), method: :delete %>
      <% end %>
    <% end %>
  </div>
  <div class="row">

    <div class="col-md-8">

    </div>
  </div>
  <div id="map"
    style="width: 100%; height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
<%# somehow add on_heat no show %>
