<h1>Chatroom</h1>
<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @chatroom.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <span><%= message.user.first_name %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  <% end %>

<%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message" %>
<% end %>
</div>

<%= link_to "Back", my_chatrooms_chatrooms_path %>
