<div class="container">
  <div class=" mt-5 text-center our-forms justify-content-center ">
    <div class="d-flex justify-content-center">
    <%= link_to pets_path,
    class: '' do %>
      <i class="fas fa-arrow-left mt-1"></i>
    <% end %>
  <h2 class="mb-3">Chatroom</h2>
  <div class="width-class"></div>
  </div>
  </div>
    <div class=""> <%# dont remove this, it will break app %>
      <div class="row"></div>
      <div class="text-center">
        <p>Talking with <%= "#{@chatroom.owner.first_name} #{@chatroom.owner.last_name}" %></p>
        <%= cl_image_tag @chatroom.owner.photo.key, class: "avatar-bigger mb-5"%>
      </div>
  <div class="chatroom-container" id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <div class="message-container <%= current_user == message.user ? "own" : "" %>" id="message-<%= message.id %>">
        <p class="message-container-content"><%= message.content %></p>
        <i class="author">
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </i>
      </div>
    <% end %>
  </div>
  <div class="message-box our-forms mt-5">
    <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, input_html: {autocomplete: "off" }, placeholder: "Type message" %>
    <% end %>
  </div>
</div>
