<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to pets_path, class: "navbar-brand" do %>
    <%= image_tag "breedme_logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <div class="navbar-light">
          <div class="navbar-nav p-2">
            <a href="#", class= "dropdown-item"> Favourites </a>
            <%= link_to "Messages", my_chatrooms_chatrooms_path, class: "dropdown-item" %>
            <%= link_to "My Pets", my_pets_pets_path, class: "dropdown-item" %>
            <%= link_to "My Profile", edit_user_registration_path, class: "dropdown-item" %>
            <%# avatar na navbar %>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar" %>
            <% else %>
              <%= image_tag "avatar.jpeg", class: "avatar" %>
            <% end %>
            <%# .. %>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
</div>
