<div class="container">
  <div class="mt-5">
    <div class=" mt-5 text-center our-forms justify-content-center ">
      <div class="d-flex justify-content-center">
        <%= link_to root_path,
        class: '' do %>
          <i class="fas fa-arrow-left"></i>
        <% end %>
        <h2>About You</h2>
        <div class="width-class"></div>
      </div>
      <h1>Welcome Back!</h1>
      <div class="">
        <div class="row text-center d-flex justify-content-center">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs mt-4">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          label: false,
                          placeholder: "email",
                          input_html: { autocomplete: "email" } %>
              <div class="space-class"></div>
              <%= f.input :password,
                          required: false,
                          label: false,
                          placeholder: "password",
                          input_html: { autocomplete: "current-password" } %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions mb-5">
              <%= f.button :submit, "Log in", class:"btn-ours"%>
            </div>
          <% end %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
