<!DOCTYPE html>
<html>
  <head>
    <%# Name on navbar %>
    <title>BreedMe</title>

    <%# Icon on Navbar %>
    <%# <link rel="shortcut icon" > need help on this one too %>

    <%# Description of site when pasted somewhere %>
    <meta name="description" content="BreedMe is the only pet matching app allows you to pick and match your next purebred mate—and it's free! Join now to start a new pet family!">

    <%# keywords %>
    <meta name="keywords" content="BreedMe, pet matching, app, purebred, pure breed, breed pets, breeders, puppies, kittens" />

    <%# Robots will: %>
    <meta name="robots" content="index,follow" />

    <%# Canonical tag %>
    <link rel="canonical" href="https://www.breedme.app">

    <%# OpenGraph tags %>
    <meta property="og:title" content="BreedMe | Find Pet Breeding Partners!" />
    <meta property="og:url" content="https://www.breedme.app" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="BreedMe is the only pet matching app allows you to pick and match your next purebred mate—and it's free! Join now to start a new pet family!" />
    <%# <meta property="og:image" content="https://"> need help on this one %>
    <meta property="og:locale" content="en_US">


    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%# Google Font %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="author" content="Gabriel Souza">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <%# Font Awesome %>
    <script src="https://kit.fontawesome.com/8c434695e5.js" crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% unless params[:controller] == "pages" || params[:controller].include?("devise") || (params[:controller] == 'registrations' && params[:action] == 'new') %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
