<!DOCTYPE html>
<html>
  <head>
    <%# Name on navbar %>
    <title>BreedMe</title>
    <%# Icon on Navbar %>
    <link rel="shortcut icon" href="">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%# Google Font %>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <%# Font Awesome %>
    <script src="https://kit.fontawesome.com/8c434695e5.js" crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% unless params[:controller] == "pages" || params[:controller].include?("devise") || (params[:controller] == 'registrations' && params[:action] == 'new') %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
